/* Pokemon cards */
.poke_card {
    margin-bottom: 1rem;
    border-radius: var(--border-radius);
    background-color: #FFFFFF;
    display: block;
    overflow: hidden;
}

.card_body{
    display: block;
}

.poke_image {
    background: #F2F2F2;
}

.p_id {
    font-family: 'Nanum Gothic', sans-serif;
    color: #919191;
    font-size: 80%;
    padding-top: 2px;
}

.h5_name {
    font-family: 'Nanum Gothic Bold', sans-serif;
    color: #313131;
    text-transform: none;
    font-size: 145%;
    margin-bottom: 5px;
    text-transform: capitalize;
}